/* You can add global styles to this file, and also import other style files */
.first-title {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  margin-top: 15px;
  text-align: center;
  color: #7cb0df;
}

.second-title {
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  font-weight: bold;
  margin-top: 5px;
  text-align: center;
}

.line-title {
  height: 2px;
  border: none;
  background-color: #92cafc;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 10%;
}

.card-modified {
  width: 100%;
  background-color: #0f5d9b;
  color: white;
  margin-bottom: 20px;
  margin-top: 30px;
}

.text-title {
  text-align: center;
  margin-bottom: 15px;
  margin-left: 20%;
  margin-right: 20%;
}

.div-inline {
  display: inline-block;
  width: 24%;
  height: 80px;
  margin-right: 0.5%;
  margin-left: 0.5%;
  margin-bottom: 1%;
  background-color: #7cb0df;
  border-radius: 5px;
  cursor: pointer;
}

.div-row {
  width: 100%;
  height: 80px;
  margin-right: 0.5%;
  margin-left: 0.5%;
  margin-bottom: 1%;
  border-radius: 5px;
}

.div-row-final {
  width: 100%;
  height: 80px;
  margin-bottom: 1%;
}

.coluna-titulo-ano-filme-card {
  padding-left:0px;
  padding-right: 3px;
  display: grid;
  height: 100%;
  align-content: center;
}

.ano-filme-card {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  text-align: left;
  color: #031a2e;
}

.titulo-filme-card {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  color: #031a2e;
}

.btn-primary {
  background-color: #0f5d9b;
  border-color: #0f5d9b;
}

  .btn-primary:hover {
    background-color: #578eb9;
    border-color: #578eb9;
  }

.btn-disable:disabled, button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.posicao-campeao {
  font-family: 'Roboto', sans-serif;
  font-size: 48px;
  text-align: center;
  color:white;
  line-height: 80px;
}

.titulo-campeao {
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  line-height: 80px;
  padding-left: 15px;
  color: #031a2e;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #285d96;
  color: #b7d8f6;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  text-align: center;
}

  .footer a:link {
    color: #b7d8f6;
  }

  .footer a:visited {
    color: #b7d8f6;
  }
