<div class="footer">
  <div>
    <a href="mailto:enderson.cezano@yahoo.com.br">enderson cezano</a> :: juiz de fora/mg :: (32) 98862-3521
</div>
  <!--<div class="row">
    <div class="col-sm-6" style="padding-right:30px; text-align:right">
      <a href="mailto:enderson.cezano@yahoo.com.br">Enderson Cezano</a>
    </div>
    <div class="col-sm-6" style="padding-left:30px;">
      (32) 98862-3521
      <a href="https://www.linkedin.com/in/enderson-cezano-3b447a182"><img src="../../assets/in.svg" height="24" width="24" /></a>
    </div>
  </div>-->
</div>

  <!-- Copyright -->
  <!--<div class="footer-copyright text-center py-3">
    <a href="mailto:enderson.cezano@yahoo.com.br">Enderson Cezano</a>
    <br />(32) 98862-3521
    <br /><a href="https://www.linkedin.com/in/enderson-cezano-3b447a182"><img src="../../assets/in.svg" height="24" width="24"/></a>
  </div>-->
  <!-- Copyright -->
